.Navigation {
	display: inline-flex;
	gap: 20px;
	font-size: 18px;
}

/* .active-link {
	color: rgb(235, 87, 87);
} */

header {
	margin-bottom: 15px;
	/* display: flex;
	flex-wrap: wrap; */
}


button {
  color: black;

  border: 1px solid black;
  border-radius: 4px;

  background-color: snow;
}

button:hover {
  background-color: blue;
  color: yellow;
}